.com-tabs-pane {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  white-space: initial;
  vertical-align: top;
}

.com-tabs-pane-inactive {
  height: 0;
  overflow: hidden;
}

.com-tabs-pane-active {
  height: auto;
}
