$color-brand: #5476fd;
$color-brand-light: #7f98fe;
$color-brand-dark: #435eca;
$color-gray-0: #aca4a4;
$color-gray-1: #ccc;

$background: #f7f7f7;
$white: #fff;
$black: #333;
$gray: #999;


$border: 2px solid #dae3ea;

$box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);

$font-size-small: 28px;
$font-size-base: 32px;
$font-size-large: 42px;