.top-box {
  display: flex;
  padding: 15px;
  justify-content: center;

  .book-name {
    flex: auto;
    padding-left: 15px;
    font-size: 36px;
    color: $color-brand;
  }

  .tools {
    width: 150px;
    height: 90px;
  }

  .iconfont {
    font-size: 28px;
    padding-right: 12px;
  }

}