.my-box-top {
    display: flex;
    align-items: center;
    padding: 48px 50px 51px 50px;
    justify-content: space-between;

    .info {
        display: flex;
        flex-direction: column;
        padding-left: 58px;
    
        .info-name {
          padding-bottom: 15px;
          font-size: $font-size-large;
          font-weight: bold;
          width: 600px;
        }

        .info-contact {
            color: $gray;
            font-size: $font-size-small;
            max-width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

  }

.my-box-bottom {
  margin-left: 40px;
  margin-right: 59px;

  .my-box-bottom-list {
    height: 87px;
    padding-left: 23px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      font-size: 36px;
      padding-right: 12px;
      color: $color-brand;
    }

    .iconArrow {
      font-size: 26px;
      color: $color-gray-0;
    }

    .text {
      flex: 1;
      font-size: 30px;
      font-weight: bold;
    }
  }
}  